<!-- /views/forms/change-success.js -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Successful!</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="alert-success">
		<h1>You have successfully changed the Admin password!</h1>
		<h3><a href="/forms">Return to List of Form</a></h3>
	</div>
</body>
</html>