<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Link to CSS file -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <title><%= title %></title> -->
    <title>Submission Form Page</title>
  </head>
  <body>
    <div class="container-fluid">
        <h1>Request Form</h1>
        <p>Please enter the information on the input fields</p>
        <form action="/forms/save" method="post">
            <div class="form-group">
            	<table>
            		<tbody>
            			<tr>
            				<td><label for="first_name">First Name</label></td>
            				<td><input type="text" name="first_name" class="form_control" id="first_name"></td>
            			</tr>
            			<tr>
            				<td><label for="last_name">Last Name</label></td>
            				<td><input type="text" name="last_name" class="form_control" id="last_name"></td>
            			</tr>
            			<tr>
            				<td><label for="phone_number">Phone Number</label></td>
            				<td><input type="text" name="phone_number" class="form_control" id="phone_number"></td>
            			</tr>
            			<tr>
            				<td><label for="organization">Organization</label></td>
            				<td><input type="text" name="organization" class="form_control" id="organization"></td>
            			</tr>
            			<tr>
            				<td colspan="2"><button type="submit" class="btn btn-primary">Save</button></td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </form>
    </div>
  </body>
</html>
