<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Link to CSS file -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <title><%= title %></title> -->
    <title>Submission Form Page</title>
  </head>
  <body>
    <div class="container">
        <h1>Request Form</h1>
        <p>Please enter the information on the input fields</p>
        <form action="/forms/save" method="post">
        	<table>
        		<tbody>
        			<tr>
        				<td>First Name</td>
        				<td><input type="text" name="first_name"></td>
        			</tr>
        			<tr>
        				<td>Last Name</td>
        				<td><input type="text" name="last_name"></td>
        			</tr>
        			<tr>
        				<td>Phone Number</td>
        				<td><input type="text" name="phone_number"></td>
        			</tr>
        			<tr>
        				<td>Organization</td>
        				<td><input type="text" name="organization"></td>
        			</tr>
        			<tr>
        				<td colspan="2"><button type="submit">Save</button></td>
        			</tr>
        		</tbody>
        	</table>
        </form>
    </div>
  </body>
</html>
