body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
	padding: 20px;
	background-color: #efefef;
	width: 100%;
	border-radius: 6px;
}

.container table {
	border-collapse: collapse;
	border: solid 1px;
}