body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #14171A;
}

/* Section for bootstrap response per screen size ======================== */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	#request-form {
		display: block;
		width: 100%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#request-form {
		display: block;
		width: 100%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#request-form {
		display: block;
		width: 45%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#request-form {
		display: block;
		width: 45%;
	}
}

/* Class container with different ids starting with "request-" ========================*/

#request-form {
	padding: 20px;
	background-color: #efefef;
	border-radius: 6px;
}

.vertical-center {
	height: 100%;
}

	.vertical-center:before {
		display: inline-block;
		vertical-align: middle;    /* vertical alignment of the inline element */
		height: 100%;
	}

	.vertical-center > .container-fluid {
		display: inline-block;
		vertical-align: middle;
	}

#request-list {
	padding: 20px;
	background-color: #efefef;
	border-radius: 6px;
	width: 100%;
}

#request-edit {
	padding: 20px;
	background-color: #efefef;
	border-radius: 6px;
}


/* For default sorttable.js icon removed ======================== */

table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
  content: " ";
  display: inline-block;
  width: 24px;
  height: 24px;
}
th.sorttable_sorted::after {
  /* background: url(my-sorted-icon.png);*/
  background: none;
  background-size: contain;
}
th.sorttable_sorted_reverse::after {
  /*background: url(my-sorted-reversed-icon.png);*/
  background: none;
  background-size: cover;
}
#sorttable_sortfwdind, #sorttable_sortrevind { display: none; } 


/* This section is for the success.ejs components ======================== */
.alert-success {
	background-color: #0C3214;
	border-color: #296336;
	padding: 10px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	border-radius: 6px;
}
	/* Success Title */
	.alert-success h1 {
		color: #28A745;
	}

	/* Return to Request Form Link*/
	.alert-success a {
		color: #00B7FF;
	}