<!-- /views/forms/search.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
	    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Link to CSS file -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Search Result Forms List</title>

</head>
<body>
	<div class="container-fluid vertical-center" id="search-results">
		<h1>Search Results for </h1>
		
	</div>
</body>
</html>