<!-- /views/forms/success.js -->
<!DOCTYPE html>
<html>
<head>
	<title>Successful Request Sent</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1>Your Request Form has been successfully submitted!</h1>
	<div class="home_request_container">
		<h3><a href="/">Return to Request Form</a></h3>
	</div>
</body>
</html>